APP_NAME=Medora
APP_VERSION=0.1.0
DEBUG=True

DATABASE_URL=postgresql+asyncpg://postgres.ldxrsxunlfoipjrcxect:chotubugaliya2113@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
